.wrapperHidden {
  height: 0vh;
  width: 700px;
  position: absolute;
  z-index: 10;
  top: -100%;
  right: 0;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  opacity: 0.5;
  transition: all 1s;
  
}
.wrapper {
  height: 100vh;
  width: 700px;
  position: absolute;
  z-index: 10;
  top: 50px;
  right: 0;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  opacity: 1;
  transition: all 1s;
  z-index: 11;
}
.cart {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  overflow-y: auto;
  height: 50vh;
  width: 400px;
}
.wishlist {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  overflow-y: auto;
  height: 30vh;
  width: 400px;
}

.bagBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  position: relative;
}
.productImg {
  width: 100px;
  height: 130px;
}
.nameBox {
  margin-left: 10px;
  text-align: left;
  width: 300px;
}
.bagBox span{
  line-height: 22px;
}
.name, .size, .color, .quantity, .price{
  font-weight: 700;
}
.cart::-webkit-scrollbar-thumb{
  background-color: #151515;
  border-radius: 15px;
}
.cart::-webkit-scrollbar{
  width: 5px;
  border-radius: 15px;
  background-color: #cccccc;
}

.wishlist::-webkit-scrollbar-thumb{
  background-color: #151515;
  border-radius: 15px;
}
.wishlist::-webkit-scrollbar{
  width: 5px;
  border-radius: 15px;
  background-color: #cccccc;
}
.totalPrice{
  padding-top: 15px;
  margin: 0 auto;
  text-align: center;
}
.close{
  margin-left: 15px;
}
.closeBtn{
  background: transparent;
  border: none;
  cursor: pointer;
}
@media (max-width: 717px) {
  .wrapper{
    width: 100%;
  }
  .cart{
    max-width: 100%;
  }
  .wishlist{
    max-width: 100%;
  }
}
@media (max-width: 386px){
  .bagBox {
    flex-direction: column;
  }
  .nameBox{
    width: 100%;
    font-size: 14px;
  }
  .cart{
    overflow-x: hidden;
  }
  .wishlist{
    overflow-x: hidden;
  }
  .wrapper{
    top: 105px;
  }
}