.wrapper{
    margin-right: 10px;
    width: 106px;
}
.listIcon{
    display: flex;
}
/* .itemIcon + .itemIcon{

} */
.bag{
    color: #fff;
    background: #151515;
    border-radius: 50%;
    padding: 5px 6px;
    font-size: 10px;
    position: relative;
    bottom: 5px;
}
li button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.close {
    bottom: 13px;
    right: -5px;
    position: relative;
    width: 0;
    height: 0;
    opacity: 0.3;
    }
    .close:hover {
    opacity: 1;
    }
    .close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
    }
    .close:before {
    transform: rotate(45deg);
    }
    .close:after {
    transform: rotate(-45deg);
    }