.wrapper {
  height: 563px;
  width: 756px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}
@media (max-width: 1350px){
  .wrapper{
    width: 630px;
  }
}
@media (max-width: 900px) {
  .wrapper {
    height: 100%;
  }
}