.wrapper{
    display: flex;
    width: 600px;
    height: 290px;
    justify-content: center;
    background: #cfd1d0;
    align-items: center;
    margin: 0 10px;
}
.text{
    width: 175px;
}
.link{
    position: relative;
    top: 32px;
    font-size: 15px;
    color: #2c2c2c;
    padding-bottom: 4px;
}
.link:hover{
    border-bottom: 2px solid #111;
}
.title{
    font-weight: 300;
    font-size: 32px;
}
.bannerHero{
    height: 290px;
}