.wrapper{
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
}
.link{
    color: #8f8f8f;
    font-size: 15px;
}
.active{
    color: #000;
}
.separator{
    padding: 0 15px;
}
@media (max-width: 375px){
    .wrapper{
        flex-direction: column;
        text-align: center;
    }
    .separator{
        position: relative;
        display: none;
    }
    .link{
        margin-top: 9px;
    }
    .active{
        margin-top: 9px;
    }
}