

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleBox{
    width: 535px;
    height: 207px;
}
.titleBox h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 67px;
}
.text{
    display: block;
    margin-top: 30px;
}
@media (max-width: 800px){
    .titleBox h1{
        font-size: 40px;
        line-height: 32px;
    }
    .titleBox{
        display: none;
    }
}
