.wrapper{
    display: flex;
    width: 600px;
    height: 290px;
    justify-content: center;
    background: #eeeeec;
    align-items: center;
    margin: 0 10px;
}
.text{
    width: 175px;
}
.text a{
    position: relative;
    top: 32px;
    font-size: 15px;
    color: #2c2c2c;
}
.title{
    font-weight: 300;
    font-size: 32px;
}
.bannerHero{
    height: 290px;
}