.bg {
  background: #ccc;
  height: 613px;
  margin-top: -42px;
}
.container {
  max-width: 1820px;
  margin: 0 auto;
  padding: 0 10px;
}
.bannerWrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.product {
  padding: 50px 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
