*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Jost" "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  margin: 0;
}
.swiper {
  position: relative;
}
.swiper-pagination {
  position: absolute !important;
  bottom: 20px !important;
}
.mySwiper .swiper-pagination-bullet-active {
  position: relative;
  background-color: #000 !important;
  opacity: 1;
}
.mySwiper .swiper-pagination-bullet-active:before {
  content: "";
  opacity: 0.5;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}
.mySwiper .swiper-pagination-bullet {
  background-color: #000 !important;
  margin: 0 12px !important;
}
.mySwiper .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mySwiper {
  padding-top: 42px !important;
}
.mySwiper .swiper-button-prev {
  background: url();
  background-repeat: no-repeat;
  padding: 20px 17px;
  border: 2px solid #000;
}
.mySwiper .swiper-button-prev::after {
  content: url(./Assets//img/leftt.png) !important;
  position: absolute;
  bottom: 10px;
}

.mySwiper .swiper-button-next::after {
  content: url(./Assets//img/right.png) !important;
  position: absolute;
  bottom: 10px;
}
.mySwiper .swiper-button-next {
  background: #000;
  padding: 20px 17px;
  border: 2px solid #000;
}

/* ************************************************************************ */

.mySwiperProduct {
  width: 100%;
  height: 100%;
}

.mySwiperProduct .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiperProduct .swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.mySwiperProduct {
  width: 79%;
  height: 186px;
  margin-left: auto;
  margin-right: auto;
}

.mySwiperProduct .swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiperProduct2 {
  /* height: 80%;
  width: 100%; */
}

.mySwiperProduct {
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiperProduct .swiper-slide {
  /* width: 25%;
  height: 100%;
  opacity: 0.8; */
}
.mySwiperProduct .swiper-slide img {
  width: 70px;
  height: 90px;
}
.mySwiperProduct .swiper-slide-thumb-active {
  opacity: 1;
}
.mySwiperProduct .swiper-slide-thumb-active {
  border-bottom: 2px solid #000;
}
.mySwiperProduct2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Related Product Swiper */
.mySwiperRelated .swiper-pagination-bullet {
  background-color: #000 !important;
  margin: 0 12px !important;
}
.mySwiperRelated > .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 150px !important;
  margin-left: -33px;
  margin-bottom: 62px !important;
  display: block;
}
.mySwiperRelated .swiper-pagination-bullet-active {
  position: relative;
  background-color: #000 !important;
  opacity: 1;
}
.mySwiperRelated .swiper-pagination-bullet-active:before{
  content: "";
  opacity: 0.5;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}
/* Related Product Swiper */
.form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 1.4;
  color: #475f7b;
  background-color: #fff;
  border: 1px solid #dfe3e7;
  border-radius: 0.267rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: #475f7b;
  background-color: #fff;
  border-color: #5a8dee;
  outline: 0;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
}
.card {
   box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
  background-color: #fff;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #475f7b;
  overflow: hidden;
}
.pagination-data{
padding: 0;
margin: 0;
}
.pagination-data li{
list-style:none;
}
.table-filter-info{
padding : 15px;
}
.thead-primary tr th {
  background-color: #111;
  border-color: #111;
  color: #fff;
}

.rc-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 35px;
}
.rc-pagination-item,
.rc-pagination-prev, 
.rc-pagination-jump-prev, 
.rc-pagination-jump-next {
  margin-right: 8px;
}

.rc-pagination-total-text{
margin-right: 12px;
cursor: initial;
}

.rc-pagination-jump-next, 
.rc-pagination-jump-prev, 
.rc-pagination-next, 
.rc-pagination-prev {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  color: rgba(0,0,0,.85);
  font-family: Arial;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all .3s;
}
.rc-pagination-jump-next button, 
.rc-pagination-jump-prev button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #666;
}
.rc-pagination-jump-next button:after, 
.rc-pagination-jump-prev button:after {
  display: block;
  content: "•••";
}
.rc-pagination-item, 
.rc-pagination-prev, 
.rc-pagination-next, 
.rc-pagination-total-text {
  min-width: initial;
  height: auto;
  line-height: initial;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.rc-pagination-item a, 
.rc-pagination-item button, 
.rc-pagination-prev a, 
.rc-pagination-prev button, 
.rc-pagination-next a, 
.rc-pagination-next button,
.rc-pagination-total-text a, 
.rc-pagination-total-text button {
  padding: 6px 8px;
  height: auto;
  min-width: 32px;
  min-height: 32px;
  border: 1px solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  color: #656f84 !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
.rc-pagination-item.rc-pagination-item-active a, 
.rc-pagination-item.rc-pagination-item-active a:hover, 
.rc-pagination-prev.rc-pagination-item-active a, 
.rc-pagination-prev.rc-pagination-item-active a:hover, 
.rc-pagination-next.rc-pagination-item-active a, 
.rc-pagination-next.rc-pagination-item-active a:hover, 
.rc-pagination-total-text.rc-pagination-item-active a, 
.rc-pagination-total-text.rc-pagination-item-active a:hover {
  background-color: #111;
  border-color: #111;
  color: #ffffff !important;
}
.rc-pagination-item a:hover, 
.rc-pagination-item button:hover, 
.rc-pagination-prev a:hover, 
.rc-pagination-prev button:hover, 
.rc-pagination-next a:hover, 
.rc-pagination-next button:hover, 
.rc-pagination-total-text a:hover, 
.rc-pagination-total-text button:hover {
  background-color: #eceff5;
  border-color: #eceff5;
}
.mySwiperRelatedMobile{
  display: none !important;
}
@media (max-width: 1350px){
  .mySwiperProduct2 .swiper-slide img {
    width: 100%;
  }
  .mySwiperProduct2{
    width: 503px !important;
  }
  .mySwiperRelated{
    height: 472px !important;
  }
}
@media (max-width: 725px){
  .mySwiperRelated{
    display: none !important;
  }
  .mySwiperRelatedMobile{
    display: flex !important;
  }
  .mySwiperRelatedMobile .swiper-wrapper {
    text-align: center;
    height: 374px !important;
  }
  .mySwiperRelatedMobile .swiper-pagination-bullet-active {
    position: relative;
    background-color: #000 !important;
    opacity: 1;
  }
  .mySwiperRelatedMobile .swiper-pagination-bullet-active:before {
    content: "";
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
  }
  .mySwiperRelatedMobile .swiper-pagination-bullet {
    background-color: #000 !important;
    margin: 0 12px !important;
  }
}
@media (max-width: 666px){
  .mySwiperProduct{
    display: none;
  }
}

@media (max-width: 550px){
  .mySwiperProduct2{
    width: 353px !important;
    height: 656px !important;
  }
}
@media (max-width: 550px){
  .mySwiperProduct2{
    width: 300px !important;
    height: 353px !important;
  }
}
